.intro {
  font-size: 95%;
}
.about-container {
  /* background-color: lightgoldenrodyellow; */
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  margin-left: 17rem;
  margin-right: 3rem;
  margin-top: 0.5rem;
  padding-bottom: 1rem;
}

.about-img {
  height: 65%;
  max-width: 55%;
  /* background-color: lightblue; */
}
.about-blurb {
  /* background-color: rgb(174, 255, 234); */
  max-width: 55%;
  text-align: right;
  padding-right: 1rem;
}

.about-blurb p {
  line-height: 1.6;
}

#mail-illustration {
  height: 30px;
  position: fixed;
  left: 1rem;
  bottom: 2rem;
}

/* 
--- MEDIA QUERIES ---
*/

@media (max-width: 950px) {
  .about-blurb {
    text-align: left;
    max-width: 65%;
    font-size: 92%;
  }
  .about-img {
    height: auto;
    max-width: 66%;
    /* background-color: lightblue; */
  }
}

@media (max-width: 750px) {
  .about-img {
    height: auto;
    max-width: 76%;
  }
  .about-blurb {
    max-width: 75%;
  }
}

@media (max-width: 651px) {
  .about-container {
    margin: 5rem auto;
  }
  .about-img {
    max-width: 95%;
    padding-right: 1.5rem;
  }
  .about-blurb {
    max-width: 92%;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    text-align: left;
    font-size: 85%;
    /* background-color: aquamarine; */
  }
  .anna-rizvi {
    width: 200px;
    margin-left: -0.8rem;
  }
  #mail-illustration {
    height: 25px;
    left: 80%;
  }
}
