.intro {
  font-size: 95%;
}
.about-container {
  /* background-color: lightgoldenrodyellow; */
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  margin-left: 17rem;
  margin-top: -3rem;
  padding-bottom: 1rem;
}

.about-img {
  height: auto;
  max-width: 73%;
  /* background-color: lightblue; */
}
.about-blurb {
  /* background-color: rgb(174, 255, 234); */
  max-width: 73%;
  padding-right: 1.5rem;
  text-align: justify;
}

.about-blurb p {
  line-height: 1.6;
}

#mail-illustration {
  height: 30px;
  position: fixed;
  left: 1rem;
  bottom: 2rem;
}

@media (max-width: 1250px) {
  .about-blurb {
    padding-right: 3rem;
    /* background-color: rgb(191, 230, 173); */
  }
}

@media (max-width: 950px) {
  .about-blurb {
    padding-right: 1.5rem;
    text-align: justify;
    /* background-color: rgb(191, 230, 173); */
  }
}

@media (max-width: 651px) {
  .about-container {
    /* background-color: lightblue; */
    margin: 5rem auto;
  }

  .about-img {
    max-width: 95%;
    padding-right: 1.5rem;
  }
  .about-blurb {
    max-width: 95%;
    padding-right: 3rem;
    text-align: left;
  }
  .about-blurb h2 {
    font-size: 120%;
  }

  .anna-rizvi {
    width: 200px;
    margin-left: -0.9rem;
  }

  #mail-illustration {
    height: 25px;
    left: 80%;
  }
}
