* {
  box-sizing: border-box;
}

body {
  margin-top: 0;
  margin-left: 28rem;
  margin-right: 1rem;
  background-color: #fffff5;
}

/* ---  MASONRY GRID STYLES --- */

.row {
  column-count: 2;
  column-gap: 20px;
  padding: 0 0;
  margin-top: 1rem;
}

.column {
  break-inside: avoid;
  padding: 0 0;
  margin-bottom: 20px;
}

/* Style for all media items (img and video) */
.column img,
.column video {
  width: 100%;
  margin: 0;
  display: block;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
}

/* --- NEW RESPONSIVE BREAKPOINTS --- */
@media screen and (max-width: 1150px) {
  .row {
    column-count: 2; /* Switch to 1 column */
  }
}

@media screen and (max-width: 1000px) {
  .row {
    column-count: 1; /* Switch to 1 column */
  }
}

@media screen and (max-width: 900px) {
  .row {
    column-count: 1;
  }
}

@media screen and (max-width: 650px) {
  .row {
    column-count: 1;
    column-gap: 0;
  }
  body {
    margin-top: 7rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .anna-rizvi {
    width: 210px;
    margin-left: -1.2rem;
  }
}

@media screen and (min-width: 1051px) {
  .row {
    column-count: 3;
    column-gap: 1rem;
  }
}
