* {
  box-sizing: border-box;
}

body {
  margin-top: 0;
  margin-left: 18rem;
  background-color: #fffff5;
}

.header {
  text-align: center;
  padding: 32px;
}

/* Project Grid */
.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.project-item {
  position: relative;
  overflow: hidden;
}

.project-item img,
.project-item video {
  display: block;
  width: 100%;
  /* height: auto; */
  height: 100%;
  object-fit: cover;
}

.project-item video.project-video {
  width: 100%;
  height: 100%;
  object-fit: contain; /* show entire video without cropping */
  object-position: center;
  display: block;
  background-color: #fdde68; /* optional, adds black bars instead of blank space */

  transition: opacity 0.3s ease;
}

/* Match hover opacity effect with images */
.project-item a.opacity:hover video.project-video {
  opacity: 0.6;
}

/* Hover text styling */
.hover-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: black;
  font-family: "Comico";
  font-size: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Show text on hover */
.project-item:hover .hover-text {
  opacity: 1;
}

/* Opacity on project item hover */
.opacity {
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.opacity:hover {
  opacity: 0.2;
}

/* Sizes Clouds Project */
iframe {
  height: 100%;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1150px) {
  .project-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (max-width: 950px) {
  .project-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .project-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  body {
    margin-top: 7rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
