* {
  box-sizing: border-box;
}
/* a {
  text-decoration: none;
  color: inherit;
} */
body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgb(48, 86, 156);
}
/* Applies jQuery Dark Mode */
body.dark {
  background-color: rgb(0, 0, 71);
  background-image: url("assets/twinkle.gif");
}
/* Button Class */
.buttons {
  text-align: right;
}

/* Individual button styling */
button {
  cursor: pointer;
  font-family: monospace;
  background-color: yellow;
  border: 2px solid black;
  margin: 10px;
  padding: 7px 10px;
  color: black;
}
/* Dark mode Button */
button.dark {
  background-color: white;
  border: 2px solid yellow;
}

/* Keeps images within browser size */
img {
  max-width: 100%;
}
/* Cloud Class */
.cloud {
  margin: 10rem auto;
}

/* Top cloud - Drifting */
#cloud-1 {
  height: 15vw;
  position: fixed;
  left: 15px;
  top: 40px;
  animation: drift 60s infinite ease-in-out;
  z-index: -1;
}
/* Middle Cloud - Tilt */
#cloud-5 {
  height: 25vw;
  position: fixed;
  top: 240px;
  left: 100px;
  animation: tilt-1 16s infinite ease-in-out;
  /* background-color: yellow; */
}
#cloud-2 {
  position: fixed;
  left: 60px;
  animation: tilt-2 10s infinite;
  /* background-color: yellow; */
}

/* Bottom Cloud - Tilt */
#cloud-3 {
  height: 35vw;
  position: fixed;
  bottom: -20px;
  right: 50px;
  animation: tilt-2 15s infinite ease-in-out;
}

#cloud-4 {
  position: fixed;
  right: 60px;
  z-index: -10;
  animation: tilt-1 10s infinite, scale 10s infinite ease-in-out;
  /* background-color: yellow; */
}
#cloud-6 {
  position: fixed;
  bottom: 50px;
  left: 50px;
  animation: tilt-1 10s infinite, scale 10s infinite ease-in-out;
}

/* Moon styling */
.moon {
  display: none;
  height: 10vh;
  position: fixed;
  top: 100px;
  left: 100px;
  z-index: -11;
}
.moon.dark {
  display: block;
}
/* Styles Sun */
.sun {
  height: 25vh;
  position: fixed;
  top: 50px;
  left: 70px;
  z-index: -11;
}
/* Adds class "dark" which shows the sun */
.sun.dark {
  display: none;
}

/* .show {
  display: block;
} */
/* Styles the size of small clouds */
.small-cloud {
  height: 10vw;
  z-index: -10;
}

.birds {
  z-index: -100;
  height: 20vh;
  position: fixed;
  right: 100px;
  bottom: 300px;
  animation: birds 20s infinite ease-in;
}
/* Hides birds in dark mode */
.birds.dark {
  display: none;
}
/* Drifitng Keyframe */
@keyframes drift {
  0% {
    left: -21%;
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    left: 100%;
  }
}

/* Tilting cloud - left */
@keyframes tilt-1 {
  0% {
    transform: rotate(0deg); /* Start with no tilt */
  }
  25% {
    transform: rotate(-3deg); /* Tilt slightly left */
  }
  75% {
    transform: rotate(3deg); /* Tilt slightly right */
  }
  100% {
    transform: rotate(0deg); /* Return to no tilt, completing the cycle */
  }
}
/* Tilting cloud - right */
@keyframes tilt-2 {
  0% {
    transform: rotate(0deg); /* Start with no tilt */
  }
  25% {
    transform: rotate(3deg); /* Tilt slightly left */
  }
  75% {
    transform: rotate(-3deg); /* Tilt slightly right */
  }
  100% {
    transform: rotate(0deg); /* Return to no tilt, completing the cycle */
  }
}

/* @keyframes slow-drift {
  0% {
    left: -50%;
  }
  100% {
    left: 100%;
  }
} */

/* Small clouds scaling slightly up & down */
@keyframes scale {
  0% {
    transform: scale(1); /* Original size */
  }
  50% {
    transform: scale(1.2); /* Scale up by 20% */
  }
  100% {
    transform: scale(1); /* Back to original size, seamless loop */
  }
}
/* Birds flying across */
@keyframes birds {
  0% {
    right: -50%;
  }
  100% {
    right: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  /* Top Cloud */
  #cloud-1 {
    top: 30px;
    width: 40vw;
    height: auto;
    transition: width 1s;
  }
  #cloud-5 {
    width: 40vw;
    height: auto;
    left: 50px;
    top: 240px;
    transition: width 1s, left 1s;
  }
  #cloud-3 {
    width: 55vw;
    height: auto;
    top: 360px;
    left: 400px;
    transition: width 1s;
  }
}

@media only screen and (max-width: 1000px) {
  /* Top Cloud */
  #cloud-1 {
    top: 30px;
    width: 40vw;
    height: auto;
    transition: width 1s;
  }
  #cloud-5 {
    width: 45vw;
    height: auto;
    left: 60px;
    top: 240px;
    transition: width 1s, left 1s;
  }
  #cloud-3 {
    width: 60vw;
    height: auto;
    top: 380px;
    left: 330px;
    transition: width 1s;
  }
  .small-cloud {
    width: 20vw;
    height: auto;
    transition: width 1s;
  }
}

@media only screen and (max-width: 850px) {
  #cloud-1 {
    top: 30px;
    width: 40vw;
    height: auto;
    transition: width 1s;
  }
  #cloud-5 {
    width: 55vw;
    height: auto;
    left: 20px;
    transition: width 1s, left 1s;
  }
  #cloud-3 {
    width: 65vw;
    height: auto;
    top: 420px;
    left: 250px;
    transition: width 1s;
  }
  #cloud-6 {
    width: 20vw;
    bottom: 10px;
    left: 30px;
    transition: width 1s, left 1s;
  }
}
@media only screen and (max-width: 750px) {
  #cloud-3 {
    left: 230px;
    transition: left 1s;
  }
}

@media only screen and (max-width: 650px) {
  /* Top Cloud */
  #cloud-1 {
    top: 60px;
    width: 50vw;
    height: auto;
    transition: width 1s;
  }
  /* Middle Cloud */
  #cloud-3 {
    /* background-color: yellow; */
    width: 85vw;
    height: auto;
    top: 420px;
    left: 70px;
    transition: width 1s;
  }
  /* Bottom Cloud */
  #cloud-5 {
    width: 65vw;
    height: auto;
    left: 10px;
    top: 260px;
    transition: width 1s, left 1s;
  }
  /* Styles General small clouds */
  .small-cloud {
    width: 25vw;
    height: auto;
    transition: width 1s;
  }
  #cloud-4 {
    width: 30vw;
    height: auto;
    top: 190px;
    transition: width 1s;
  }
  #cloud-6 {
    width: 25vw;
    height: auto;
    bottom: 20px;
    left: 30px;
    transition: width 1s, left 1s;
  }
  .sun {
    height: 12vh;
    width: auto;
    top: 45px;
    transition: top 2s;
  }
  .moon {
    height: 7vh;
    top: 70px;
    left: 80px;
    transition: top 1s, left 1s;
  }
}
