* {
  box-sizing: border-box;
}
/* IMPORTING FONTS */
@font-face {
  font-family: "dara";
  src: url(Darumadrop_One/DarumadropOne-Regular.ttf);
}

@font-face {
  font-family: "work";
  src: url(Work_Sans/WorkSans-VariableFont_wght.ttf);
}
@font-face {
  font-family: "work2";
  src: url(Work_Sans/WorkSans-VariableFont_wght.ttf);
  font-weight: 400;
}

.responsive {
  width: 100%;
  max-width: 600px;
  height: auto;
}

/**** HOME PAGE ****/

/* Definition Div */
.intro {
  font-family: "work2";
  color: #087d31;
  /* background-color: aqua; */
}

/**** Main Regions Container ****/
.home-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -2%;
}
/**** Main Regions Individual ****/
.regions-block {
  width: 350px;
  height: 350px;
  border-radius: 20px;
  margin: 30px;
  border: 2px solid #0d500f;
  background-color: #0d500f;
  color: rgb(255, 255, 255);
  padding-top: 33%;
  font-family: work2;
  text-align: center;
}
.regions-block h2 {
  font-size: 50px;
  margin: 5%;
}

.regions-block:hover {
  border: 2px solid #0d500f;
  color: #0d500f;
  background-color: rgb(244, 251, 189);
}
/**** SINDH PAGE ****/

.separator {
  margin-top: 4%;
  margin-bottom: 5%;
  color: #0d500f;
  border-top: 2px dotted #087d31;
}

.underlined-text {
  text-decoration: underline; /*  Basic underline */
  text-underline-offset: 2px; /*  Sets the distance between the text and the line */
}

#Projects {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5% 0;
  /* background-color: #3a6e4a; */
}
.container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 5%;
  margin-top: 3%;
  /* background-color: aliceblue; */
  /* max-width: 1200px; */
}

/** HEADING **/
/* Removes underline from links */
a {
  text-decoration: none;
}

/* Pixel stan logo */
.logo {
  font-family: "dara";
  font-size: 60px;
  margin-left: 3%;
  /* background-color: aliceblue; */
}

.logo:hover {
  color: rgb(244, 251, 189);
  -webkit-text-stroke: 2px #0d500f;
}

header {
  margin-top: 4%;
  margin-left: 10%;
  margin-right: 7%;
  /* background-color: rgb(255, 147, 147); */
}

/* Makes pixelstan color green AND controls behavior of region dropdown links*/
header a {
  color: #0b6f4a;
}

/****** NAVIGATION BAR ******/

/* Navigation Bar Container */
.navbar {
  display: flex;
  justify-content: left;
  align-items: center;
  justify-content: space-between; /* Distribute space between logo and links */
  margin-top: -5%;
}

/* Region, About, Subimt Navigation Container */
.nav-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none; /* Remove list bullets */
  margin-top: 5%;
  padding: 0px;
  /* background-color: aqua; */
}

/* Defines Button class */
.button {
  font-family: "work";
  background-color: #ffffff; /* Green */
  border: 2px solid #0b6f4a;
  border-radius: 20px;
  color: #0b6f4a;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 10px;
  cursor: pointer;
}

/* Button Hover effect */
.button:hover {
  background-color: #0b6f4a; /* Green */
  color: white;
  border: 2px solid #0b6f4a;
}
/* Defines Log-In Button class */
.button2 {
  font-family: "work";
  background-color: #087d31; /* White Button */
  border: 2px solid #087d31;
  border-radius: 50px;
  color: #ffffff;
  padding: 15px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 10px;
  cursor: pointer;
}
/* Defines Log-In Button class on HOVER */
.button2:hover {
  background-color: #3a6e4a;
}
/* Defines Sign-up Button class */
.button3 {
  font-family: "work";
  background-color: #e9e9e9; /* Gray Button */
  border: 1px solid #e9e9e9;
  border-radius: 50px;
  color: #3a6e4a;
  padding: 15px 22px;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  font-size: 20px;
  margin: 4px 10px;
  cursor: pointer;
}
/* Defines Sign-up Button class ON HOVER */
.button3:hover {
  background-color: rgb(244, 251, 189);
  border: 1px solid rgb(244, 251, 189);
}

/* Dropdown box styling */
.dropdown {
  position: relative;
  display: inline-block;
  border-radius: 10px;
}

/* Controls behavior of dropdown box container */
.dropdown-content {
  font-family: "work";
  display: none;
  border-radius: 20px;
  font-size: 16px;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* Controls styling of dropdown list elements */
.dropdown-content a {
  color: #0b6f4a;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 10px;
}

.dropdown-content a:hover {
  background-color: rgb(244, 251, 189);
  color: #0b6f4a;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/** FILTER CATEGORY BUTTON CONTAINER **/
.category-links {
  font-family: "work";
  list-style: none;
  justify-content: flex-start;
  font-size: 15px;
  display: flex;
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 10%;
  flex-wrap: wrap;
  /* background-color: coral; */
}

/** FILTER CATEGORY BUTTONS INDIVIDUAL **/
.category-links li {
  border: 2px solid #087d31;
  border-radius: 50px;
  color: #087d31;
  padding: 20px 30px;
  margin: 5px;
  font-size: 18px;
}

.category-links li:hover {
  background-color: rgb(244, 251, 189);
  border: 2px solid rgb(244, 251, 189);
  font-style: italic;
  cursor: pointer;
}

.active {
  background-color: rgb(244, 251, 189);
}

/* .category-links li.active {
    background-color: rgb(244, 251, 189);
    font-style: italic;
  } */

/******* PHOTO GRID *******/

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding-left: 4%;
  padding-right: 4%;
  /* background-color: rgb(122, 245, 136); */
  /* padding: 0 4px; */
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  margin-top: 2%;
  /* Places photo grid behind menu overlay
  /* background-color: aqua; */
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 6%;
}

/* Creates green border when hovering over image */
/* .column img:hover {
  border: 3px solid rgb(244, 251, 189);
  cursor: pointer;
  z-index: -1;
} */

/***** TESTING FILTERING ELEMENTS ****/
.filterDiv {
  width: 100px;
  line-height: 100px;
  margin: 2px;
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/****** HAMBURGER MENU + OVERLAY *******/
.hamburger-menu {
  position: absolute;
  top: 25px;
  right: 20px;
  width: 50px;
  height: 40px;
  z-index: 10;
  cursor: pointer;
}

.hamburger-menu span {
  display: fixed;
  position: absolute;
  margin: 10px;
  height: 1.5px;
  width: 50%;
  background: #3e8e41;
  border-radius: 5px;
  transition: 0.35s all ease-in-out;
}

.hamburger-menu :nth-child(1) {
  top: 0px;
  transform-origin: left center;
}

.hamburger-menu :nth-child(2) {
  top: 10px;
  transform-origin: left center;
}

.hamburger-menu :nth-child(3) {
  top: 20px;
  transform-origin: left center;
}

.hamburger-menu.open :nth-child(1) {
  top: 1px;
  transform: rotate(45deg);
  background: #3e8e41;
}

.hamburger-menu.open :nth-child(2) {
  top: 15px;
  opacity: 0;
}

.hamburger-menu.open :nth-child(3) {
  top: 26px;
  transform: rotate(-45deg);
  background: #3e8e41;
}

.overlay {
  position: fixed;
  height: 100%;
  width: 0;
  overflow-x: hidden;
  top: 0;
  left: 0;
  background: rgb(255, 255, 255);
  transition: all 0.5s ease;
  font-family: "work";
  z-index: 9;
}

.overlay.open {
  width: 100%;
  opacity: 90%;
}

.overlay-content {
  position: relative;
  top: 50vh;
  transform: translateY(-50%);
  text-align: center;
  color: #0b6f4a;
}

/* */
.overlay a {
  font-size: 2.5rem;
  padding: 1rem;
  margin: 1rem;
  color: #0b6f4a;
  display: block;
  transition: color 0.3s ease 0.3s;
}

.overlay a:hover {
  text-decoration: none;
}
.overlay li {
  font-size: 20px;
}
.overlay li:hover {
  font-weight: bold;
}
/* Style the summary (the clickable part "Regions")  */
summary {
  font-size: 2.5rem;
  padding: 1rem;
  margin-top: 1rem;
  color: #0b6f4a;
  display: block;
  transition: color 0.3s ease 0.3s;
  cursor: pointer;
}
summary:hover {
  text-decoration: none;
}

/* Style the Regions list when it's open */
details[open] > ul {
  display: flex; /* Ensure the list is displayed */
  flex-direction: column;
  line-height: 5%;
  list-style-type: none;
  color: #0b6f4a;
  text-transform: uppercase;
}
/* Style the individual items in Regions list when OPEN */
details li {
  color: #0b6f4a;
}
/* Style the individual items in Regions list when HOVER */
details li:hover {
  font-style: italic;
}
/* Hide the Regions list when it's closed (default behavior) */
details > ul {
  display: none; /* Hide the list by default */
}

/************************************************************/

/******* MEDIA QUERIES *******/

@media screen and (max-width: 1200px) {
  .intro {
    text-align: center;
    font-size: 13px;
  }
  nav {
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
  }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
  .navbar {
    justify-content: center;
    /* background-color: rgb(80, 164, 238); */
  }

  nav {
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
  }
  .intro {
    text-align: center;
    font-size: 7px;
  }

  .dropdown-content {
    font-size: smaller;
  }
  .item-link {
    font-size: 15px;
  }
  .logo {
    margin: auto;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
  .category-links li {
    padding: 15px 22px;
    font-size: 15px;
  }

  .items-links {
    margin-top: 5%;
  }
  .regionName {
    margin-bottom: 1%;
    padding-top: 2%;
  }
  .container h1 {
    font-size: 40px;
    text-align: left;
    margin-left: 2%;
  }
  p {
    margin-left: 2%;
  }
}

/***** MOBILE VIEW ******/
@media screen and (min-width: 375px) {
  .logo {
    font-size: 40px;
    margin-top: 10%;
  }
  .nav-links {
    display: none;
  }
  .intro {
    margin-top: 2%;
    margin-left: 2.5%;
    font-size: 12px;
  }
}

/***** TABLET VIEW ******/
@media screen and (min-width: 768px) {
  .nav-links {
    display: flex;
  }
  .logo {
    margin-top: auto;
  }
  .hamburger-menu {
    display: none;
  }
  .category-links li {
    padding: 15px 22px;
    font-size: 15px;
  }
  .items-links {
    margin-top: 5%;
  }
}
/***** LAPTOP VIEW ******/

/***** BREADCRUMB ******/
/* Style the list */
ul.breadcrumb {
  margin-top: -8%;
  padding-bottom: 8%;
  list-style: none;
  font-weight: bold;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
  color: #0b6f4a;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
  padding: 8px;
  color: #0b6f4a;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0b6f4a;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #0b6f4a;
  text-decoration: underline;
}

/***** IMG GALLERY OVERLAY FOR PHOTO CREDS ******/
.position-relative {
  position: absolute;
  width: 100%;
  cursor: pointer;
}

.overlay-text {
  position: absolute; /* Position relative to the container */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 13px;
  justify-content: center;
  align-items: end;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with 50% opacity */
  display: flex; /* For centering content inside the overlay */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Smooth transition */
}

.overlay-text p {
  color: white; /* Text color for overlay content */
  font-family: work;
  font-size: 35px;
}
.position-relative:hover .overlay-text {
  opacity: 1; /* Make visible on hover */
}

/* MODAL SITE MAP */
#svg-control {
  display: flex;
  flex-direction: row;
  align-items: left;
  text-align: left;
  font-size: 30px;
  font-family: work2;
  color: #0d500f;
}

svg {
  cursor: pointer;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  position: relative;
  background-color: white;
  margin: auto;
  padding: 70px;
  border: 2px solid #087d31;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
.close {
  display: flex;
  justify-content: center;
  align-items: end;
  float: right;
  color: #087d31;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 16px;
  color: #087d31;
  margin-bottom: 4%;
}
.modal-body {
  font-size: 20px;
  padding: 2px 16px;
  text-decoration: none;
  color: #087d31;
  font-size: 20px;
  font-family: "work2";
}
.modal-body p:hover {
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

.modal-footer svg {
  margin-right: 15px;
}
.modal-footer {
  display: flex;
  justify-content: start;
  margin-top: 3%;
}
