* {
  box-sizing: border-box;
}
/* Keeps images within browser size */
img {
  max-width: 100%;
}

/*------ Home Page ------*/

/* Zain Font */
.zain-extrabold {
  font-family: "Zain", sans-serif;
  font-weight: 800;
  font-style: normal;
}

/* Work Sans Font */
.work-sans-font {
  font-family: "Work Sans", monospace;
  font-optical-sizing: auto;
  font-weight: 297;
  font-style: normal;
}

/* Main Header Container */
.mainHeader {
  text-align: center;
  margin-top: 2rem;
  /* background-color: lightblue; */
}

/* Tomato PNG */
.mainTomato:hover {
  transform: rotate(5deg);
  cursor: pointer;
}

/* Heirlooms Title */
.mainHeader h1 {
  font-size: 40px;
  margin: 0.5rem;
  color: red;
}

/* Secondary Title */
.mainHeader h3 {
  font-family: "Work Sans";
  margin-top: -0.5rem;
  color: red;
  padding: 1rem;
}

/* Food Dishes Container */
.parent {
  display: flex;
  justify-content: center;
  gap: 0px;
  max-width: 100vw;
  margin-top: 2rem;
}
/* Green Picnic Blanket */
.bottom-half {
  border-top: 2px solid black;
  height: 100vh;
  margin-top: 2rem;
  background-image: url(assets\ /6321.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

/* First Dish */
.div1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Second Dish */
.div2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

/* Third Dish */
/* .div3 {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* Sepia on Hover of dishes */
.div1:hover,
.div2:hover {
  filter: grayscale(100%);
  cursor: pointer;
  transition: 1s ease;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
  margin: 0;
}

/* Tomato Logo */
.logo {
  width: auto;
  height: 28px;
  position: fixed;
  right: 30px;
  top: 20px;
  z-index: 20;
}
/* Adds a slight tilt to tomato logo on hover */
.logo:hover {
  rotate: 10deg;
}

/* -------------- YELLOW DAAL PAGE ---------- */

/* Main Layout Container for 2 Columns */
.main-container {
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
}

/* Left Column: Ingredients + Pot */
.left-column {
  flex: 1;
  display: flex;
}

/* Right Column: Actual Recipe */
.right-column {
  flex: 1;
  padding: 2rem;
  background-color: rgb(254, 254, 199);
  /* #FFE347 is original mustard yellow */
  flex-direction: column;
  justify-content: flex-start;
  color: #250001;
  height: 100vh;
  border-left: 1px solid #250001;
  overflow-y: auto;
  cursor: s-resize;
}
/* Recipe Title */
.right-column h2 {
  font-size: 60px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 12px;
  margin-left: -10px;
  line-height: 100%;
  color: rgb(71, 21, 21);
}
/* Recipe paragraph */
.right-column p {
  font-size: 17px;
  line-height: 1.6;
  font-family: monospace;
  color: rgb(71, 21, 21);
}

/* Container for the Ingredients */
.ingredients-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 10px;
  max-width: 40%;
  position: absolute;
  left: 1rem;
  top: 1rem;
  cursor: pointer;
}

/* Number inside ingredient container  */
.ingredients-container p {
  color: rgb(71, 21, 21);
  text-align: left;
  margin-top: -1.5rem;
  margin-right: 0.5rem;
  font-family: monospace;
  font-size: 95%;
  font-weight: bold;
}

/* Ingredient Styling - common class for all draggable items */
.ingredient-item {
  width: 90px;
  height: auto;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  z-index: 999;
}
/* Adds fun tilt to ingredients on hover */
.ingredient-item:hover {
  rotate: -15deg;
}
/* Ingredient Images */
.ingredient-item img {
  max-width: 70%;
  max-height: auto;
}

/* Pot Styling */
#droppable {
  padding: 0;
  position: relative;
  top: 250px;
  left: 180px;
  border: none;
  transform: rotate(-5deg);
  max-width: 600px;
  width: 45vw;
  background-color: transparent;
}

/* Initial empty pot image */
#droppable img#potImage {
  width: 100%;
  height: auto;
  position: relative;
  top: -5rem;
  left: -10rem;
}

/* General Styling for dropped ingredients IN pot */
.dropped-ingredient {
  height: auto;
  position: absolute;
  z-index: 20;
}
/* Water position IN pot */
#waterInPot {
  width: 100%;
  height: auto;
  top: -5rem;
  left: -10rem;
  z-index: 19;
}

/* Yellow Daal position IN Pot*/
#yellowInPot {
  width: 100%;
  height: auto;
  top: -5rem;
  left: -10rem;
  z-index: 19;
}

/* Red Daal position IN pot */
#redInPot {
  width: 100%;
  height: auto;
  top: -5rem;
  left: -10rem;
  z-index: 19;
}

/* # Spices: Haldi, Red Pepper Flakes, Salt IN pot */
#spicesInPot {
  width: 100%;
  height: auto;
  top: -5rem;
  left: -10rem;
  z-index: 19;
}
/* Garlic IN pot */
#garlicInPot {
  width: 50%;
  height: auto;
  top: 7rem;
  left: -1rem;
  z-index: 19;
}

/* Timer IN pot - almost final output of no water & more yellow */
#timerInPot {
  width: 74%;
  height: auto;
  top: 3.9rem;
  left: -6rem;
  z-index: 19;
}
/* Tadka IN Pot - Final Daal IMG */
#tadkaInPot {
  width: 74%;
  height: auto;
  top: 3.9rem;
  left: -6rem;
  z-index: 19;
}

/* Still Hungry Button */
#stillHungryBtn {
  background-color: #ffe347;
  padding: 7px 10px;
  border: 2px solid #250001;
  cursor: cell;
  display: none;
  position: fixed;
  left: 2.5rem;
  top: 4.5rem;
}
/* ------- MEDIA QUERIES -------- */

@media screen and (max-width: 1350px) {
  #droppable {
    width: 50vw;
    top: 15rem;
    left: 11rem;
    transition: 0.5s;
    /* background-color: blue; */
  }
  #redInPot {
    bottom: 65%;
  }
  .ingredients-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1250px) {
  #droppable {
    width: 50vw;
    top: 16rem;
    left: 10rem;
    /* background-color: rgb(0, 255, 110); */
  }
  #redInPot {
    bottom: 65%;
  }
  .parent {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 1150px) {
  #droppable {
    width: 50vw;
    top: 17rem;
    left: 13rem;
    /* background-color: rgb(255, 225, 0); */
  }
  #redInPot {
    bottom: 67%;
  }
  #yellowInPot {
    /* left: -29%; */
    bottom: 67%;
  }
  #timerInPot {
    top: 8.9%;
  }
  #garlicInPot {
    top: 18%;
  }
  #tadkaInPot {
    top: 8.9%;
  }

  .ingredient-item {
    transition: width 0.5s;
  }
  /* Increases size of Left Column and reduces recipe column size */
  .left-column {
    flex: 1.5;
  }
  .right-column h2 {
    font-size: 55px;
  }
  .right-column p {
    font-size: 18px;
  }
}

@media screen and (max-width: 1000px) {
  .ingredients-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  #droppable {
    width: 50vw;
    /* top: 20rem;
    left: 11rem;
    background-color: rgb(255, 85, 0); */
  }
  #garlicInPot {
    top: 4.5rem;
  }
  #timerInPot {
    top: 2.1rem;
    left: -7rem;
  }
  #tadkaInPot {
    top: 2rem;
    left: -6.6rem;
  }
}

@media screen and (max-width: 950px) {
  #droppable {
    width: 50vw;
    top: 19rem;
    left: 11rem;
    /* background-color: rgb(255, 85, 0); */
  }
  #tadkaInPot {
    top: 1.5rem;
    left: -6.6rem;
  }
  .right-column {
    flex: 1.5;
  }
}

@media screen and (max-width: 850px) {
  .ingredients-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #droppable {
    width: 50vw;
    top: 13rem;
    left: 11rem;
  }
  #redInPot {
    bottom: 85%;
    left: 110%;
  }
}
@media screen and (max-width: 851px) {
  .main-container {
    flex-direction: column;
    height: 50vh;
  }
  #droppable {
    width: 40vw;
    top: 7rem;
    left: 35rem;
    /* background-color: rgb(255, 0, 132); */
  }
  #redInPot {
    bottom: 88%;
    left: -10rem;
  }
  #timerInPot {
    top: -0.3rem;
    left: -7.8rem;
  }
  #garlicInPot {
    left: -4rem;
    top: 1.5rem;
  }
  #tadkaInPot {
    top: -0.3rem;
    left: -7.7rem;
  }
  .right-column {
    border-top: 1px solid black;
    border-left: none;
    font-size: 110%;
    overflow: auto;
    margin-bottom: -20px;
  }
  .ingredients-container {
    grid-template-columns: repeat(3, 1fr);
  }
  #stillHungryBtn {
    left: 30px;
    top: 20px;
  }
}
@media screen and (max-width: 800px) {
  #droppable {
    width: 45vw;
    left: 35rem;
    /* background-color: rgb(195, 0, 255); */
  }
  #timerInPot {
    top: 0.1rem;
    left: -7.7rem;
  }
  #tadkaInPot {
    top: 0.2rem;
  }
}

@media screen and (max-width: 750px) {
  #droppable {
    width: 45vw;
    /* background-color: rgb(0, 255, 4); */
  }
  #timerInPot {
    top: -0.2rem;
  }
  #tadkaInPot {
    top: -0.2rem;
  }
  #garlicInPot {
    top: 1.7rem;
  }
}

@media screen and (max-width: 700px) {
  #droppable {
    width: 45vw;
    top: 8rem;
    left: 31rem;
    /* background-color: rgb(167, 223, 255); */
  }
  #garlicInPot {
    top: 1rem;
    left: -5rem;
  }
  #timerInPot {
    top: -0.5rem;
    left: -8rem;
  }
  #tadkaInPot {
    top: -0.5rem;
    left: -7.9rem;
  }
}

@media screen and (max-width: 650px) {
  #droppable {
    width: 45vw;
    top: 10rem;
    left: 32rem;
    /* background-color: rgb(255, 167, 234); */
  }
  #timerInPot {
    top: -0.9rem;
  }
  #tadkaInPot {
    top: -0.9rem;
  }
}

@media screen and (max-width: 600px) {
  .mainTomato {
    height: 50px;
    transition: 1s ease;
  }
  .mainHeader h1 {
    font-size: 320%;
    transition: 1s ease;
  }
  .mainHeader h3 {
    font-size: 130%;
    transition: 1s ease;
  }

  .parent {
    flex-direction: column;
    margin-top: 1rem;
  }
  .div1,
  .div2,
  .div3 {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  .div2 {
    padding: 1.3rem;
  }

  .parent img {
    width: 40vw;
  }

  .right-column h2 {
    font-size: 55px;
    transition: 0.5s ease;
  }
  .right-column p {
    font-size: 120%;
    transition: 0.5s ease;
  }
  .left-column {
    flex: 1.3;
  }
  #stillHungryBtn {
    left: 30px;
    top: 20px;
  }
  #droppable {
    width: 45vw;
    top: 10rem;
    left: 30rem;
    /* background-color: rgb(232, 255, 167); */
  }
  #redInPot {
    left: -60%;
  }

  #garlicInPot {
    top: 0.2rem;
  }
  #timerInPot {
    top: -1.2rem;
    left: -8.2rem;
  }
  #tadkaInPot {
    top: -1.1rem;
    left: -8.2rem;
  }
}

@media screen and (max-width: 550px) {
  #droppable {
    width: 45vw;
    top: 12rem;
    left: 25rem;
    /* background-color: rgb(255, 220, 167); */
  }
  #yellowInPot {
    left: -70%;
  }
  #garlicInPot {
    top: -0.5rem;
    left: -6rem;
  }
  #timerInPot {
    top: -1.7rem;
    left: -8.5rem;
  }
  #tadkaInPot {
    top: -1.7rem;
    left: -8.4rem;
  }
  .ingredients-container {
    grid-template-columns: repeat(2, 1fr);
  }
  /* Ingredient Images */
  .ingredient-item img {
    max-width: 65%;
    max-height: auto;
  }
}
